@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#btn_buscar{
    background-color: rgb(45, 53, 95);
}

#btn_buscar a{
    color: white;
}
.cont-talleres{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    margin-top:7px;
    font-family: 'Open Sans', sans-serif;
}

.cont-talleres p{
    display: inline;
    margin: 15px 0 0 5px ;
    font-size: 18px;
}

.cont-talleres button{
    position: absolute;
    left: 85%; 
    height: 50px;
    border: none;
    background-color: white;
}
.cont-talleres button i{
    font-size: 30px;
    color: rgb(55, 189, 133);
}

.contenedor_busc{
    box-sizing: border-box;
    text-align: center;
}
#input_buscar{
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    border: 0.5px solid  rgb(62, 75, 139);
    padding: 8px;
    font-size: 15px;
}

#btn_busqueda{
    box-sizing: border-box;
    height: 40px;
    width: 12%;
    color: rgb(45, 53, 95);
    background: none;
    border: none;
    position: absolute;
    top: 8px;
    left: 85%;
}