@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#btn_perfil{
    background-color: rgb(45, 53, 95);
}

#btn_perfil a{
    color: white;
}

.datos-perfil{
    background-color: rgb(51, 60, 107);
    text-align: center;
    padding: 15px;
    margin: 15px 0 0 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.datos-perfil i{
    font-size: 120px;
}

.logout{
    color: white;
    font-size: 15px;
    text-decoration: none;
}
.logout i{
    font-size: 25px;
}

.datos-perfil a{
    padding: 12px 20px;
    border-radius: 6px;
    border: solid 0.5px rgb(14, 86, 145);
    font-size: 18px;
    background-color: rgb(29, 172, 255);
}

.ultima{
    margin-bottom:30px;
}