{% extends 'iworkshop/base_inicio.html'%}

{% load static %}

{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/buscar_on.css' %}">
{% endblock %}


{% block content %}
    <main class="main">
        {% if user.is_authenticated and user.is_staff and user.is_superuser %} 
            EVALUACION DE PROFES
        {% elif user.is_authenticated and user.is_staff %} 
            FEEDBACK DE ALUMNOS
        {% elif user.is_authenticated %}
        <div class="contenedor_busc">
            <input type="text" name="buscar" id="input_buscar" placeholder="Ingrese taller">
            <button id="btn_busqueda" onclick=""><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        {% endif %}

        
    </main>
{% endblock %}